@font-face{
    font-family: 'fonyaji';
    src: url(../font/HonyaJi-Re.ttf);
}

.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 9999;
}

.loading2 {
    font-size: 100px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 9999;
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    -webkit-animation: loadinganimation 1500ms ease-out forwards infinite;
    animation: loadinganimation 1500ms ease-out forwards infinite;
}
@keyframes loadinganimation {
    from,to {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
}

body{
    margin: 0px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(184, 191, 194, 0.466);
    padding-top: 0px;
    padding-left: 0%;
    padding-bottom: 0px;
    
}

.header{
    text-align: right;
    padding-right: 15%;
}

.header-list{
    display: inline-block;
    vertical-align: top;

}

.header-list a{
    color: #FFF;
    text-decoration: none;
}

.header-list ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header-list li{
    vertical-align: top;
    display: inline-block;
    padding-left: 60px;
}


.menu-list {

    color: #FFF;
    font-size: 20px;
    margin-top: 20px;
}


.header-img{
    width: 100px;
}


.footer-back{

    height: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer{
    color: rgb(221, 221, 221);
    margin: auto;           /* 中央揃え */
    text-align: center;
}

