.back{
    color: white;
    text-align: center;
    text-decoration: none;
}

.bg-slider {
    width: 100vw;
    height: 100vh;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main1-prf{
    text-align: center;

}

.main-profile{
    margin-left: 0%;
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(221, 221, 221);
}





.cher-name{
    font-family: fonyaji;
    font-size: 45px;
    color: rgb(221, 221, 221);

}

.come {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(221, 221, 221);


}
.sns-list{
    text-align: center;
}

.sns-list ul{
    margin: 0%;
    padding-left: 0px;
}


.social-img{
    margin: 12.5px;
    width: 50px;
}
@media (max-width: 600px) {
    .social-img{
        padding: 10px;
        width: 40px;

    }
}

.sns-list ul li{
    display: inline-block;

}

.sns-list ul li:hover{
    opacity: 0.5;
}



.inline-block{
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}


