body{
    margin: 0px;
    background-color: rgba(172, 178, 184, 0.521);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(110, 126, 133, 0.466);
    padding-top: 0px;
    padding-left: 0%;
    padding-bottom: 0px;
    
}

.header{
    text-align: right;
    padding-right: 15%;
}

.header-list{
    display: inline-block;
    vertical-align: top;

}

.header-list a{
    color: #FFF;
}

.header-list ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header-list li{
    vertical-align: top;
    display: inline-block;
    padding-left: 70px;
}


.menu-list {

    color: #FFF;
    font-size: 20px;
    margin-top: 15px;
}


.header-img{
    width: 100px;
}


.footer-back{

    height: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer{
    color: rgb(221, 221, 221);
    margin: auto;           /* 中央揃え */
    text-align: center;
}

