/*mainヘッダー*/
@font-face{
    font-family: 'fonyaji';
    src: url(../font/HonyaJi-Re.ttf);
}

.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 9999;
}

.loading2 {
    font-size: 100px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 9999;
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    -webkit-animation: loadinganimation 1500ms ease-out forwards infinite;
    animation: loadinganimation 1500ms ease-out forwards infinite;
}
@keyframes loadinganimation {
    from,to {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
}

body{
    margin: 0px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ ProN W3','ãƒ¡ã‚¤ãƒªã‚ª', Meiryo,'ï¼­ï¼³ ã‚´ã‚·ãƒƒã‚¯',sans-serif;
    background-color: rgba(0, 0, 0, 0.952);
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgb(34, 34, 34);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgb(138, 138, 138); 
}
::-webkit-scrollbar-thumb{
    background: rgb(110, 110, 110);
    border-radius: 10px;
    box-shadow: none;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding-top: 0px;
    padding-left: 0%;
    padding-bottom: 0px;
    
}

.header{
    text-align: right;
    padding-right: 10%;
    padding-bottom: 5px;
}

.header-h1{
    font-size: 20px;
}

@media screen and (max-width: 767px){
    .header{
        text-align: center;
        padding-right:0px;
    }
}


@media screen and (min-width:767px){
    .header-list{
        display: inline-block;
    }
}

.header-list a{
    color: #fff;
    text-decoration: none;
}



.header-list ul{
    font-weight:lighter;
    font-size:15px;
    list-style: none;
    padding: 0px;
    
    margin: 0px;
}

@media screen and (max-width:767px){
    .header-list ul{
        font-size:20px;
    }
}

.header-list li{
    vertical-align: top;
    display: inline-block;
    padding-left: 40px;
}

@media screen and (max-width: 767px){
        .header-list li{
        padding-left: 0px;
        padding-right: 20px;
    }
}


.menu-list {

    color: #000;
    font-size: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 767px){
    .menu-list{
        margin-top:0px;
    }
}


.header-img{
    padding-top:5px;
    width: 80px;
}


.footer-back{
    position: absolute;
    bottom: 25px;
    width: 100%;
}

.footer{
    color: rgb(221, 221, 221);
    margin: auto;           
    text-align: center;
}

/*^^^^^^^^^^^^^^^^^*/
/*index.html*/
.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 9999;
}

.loading2 {
    font-size: 100px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 9999;
}

.animation {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    -webkit-animation: loadinganimation 1500ms ease-out forwards infinite;
    animation: loadinganimation 1500ms ease-out forwards infinite;
}
@keyframes loadinganimation {
    from,to {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
}

.back{
    color: white;
    text-align: center;
    text-decoration: none;
}


.bg-slider {
    width: auto;
    height: 100vh;
    background-position:center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main1-prf{
    text-align: center;

}

.main-profile{
    margin-left: 0%;
    font-size: 30px;
    padding-bottom: 20px;
    color: rgb(221, 221, 221);
}





.cher-name{
    font-size: 45px;
    color: rgb(221, 221, 221);

}

.come {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(221, 221, 221);


}
.sns-list{
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

.sns-list ul{
    margin: 0%;
    padding-left: 0px;
}


.social-img{
    margin: 12.5px;
    width: 50px;
}
@media (max-width: 600px) {
    .social-img{
        padding: 10px;
        width: 40px;

    }
}

.sns-list ul li{
    display: inline-block;
    padding-left: 20px;
}

.sns-list ul li a{
    font-size: 20px;
    color: #fff;
    text-decoration:none;
}

.sns-list ul li:hover{
    opacity: 0.5;
}



.inline-block{
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*profile.css*/



.profile{
    margin-top: 100px;
    padding-left: 30%;
    text-align: left;
    /*background-color: rgba(217, 219, 221, 0.438);*/
}

@media screen and (max-width:1200px){
    .profile{
    text-align:center;
    padding-left:0px; 
    }
    
}

.prf-h{
    width: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);

}

.under{
    border-bottom: solid 3px #8db3df;
}


.color{
    color: #8aafd8;
    font-weight: 600;
    font-size: 35px;
}

.prf-icon{
    width: auto;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

.prf-name{
    font-size: 40px;
    margin-left: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

@media screen and (max-width:888px){
    .prf-name{
        text-align:center;
        margin-left:0px;

    }
    
}

.profile-h {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);

}

.profile-p{
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.profile-list{
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width:700px){
    .profile-list{
        display:inline;
    }
}

.profile-Details{
    width: 650px;
}

@media screen and (max-width:920px){
    .profile-Details{
        text-align:center;
        width:auto;
    }
    .profile-p{
        margin-left:0px;
        margin-right:0px;
    }
}

.profile-Details p{
    color: rgb(255, 255, 255);
}


.sns-list{
    text-align: center;
    vertical-align: auto;
}

.sns-list ul{
    margin: 0%;
    padding-left: 0px;
}


.social-img{
    margin: 12.5px;
    width: 50px;
}
@media (max-width: 600px) {
    .social-img{
        padding: 10px;
        width: 40px;

    }
}

.sns-list ul li{
    display: inline-block;

}

.sns-list ul li:hover{
    opacity: 0.5;
}



.inline-block{
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

.content{
    text-align: center;
}

.social-views{
    min-width: 100%;
}

/*3-1*/
.sns-box{
    font-size: 40px;
    
}

.twitter-h{
    text-align: center;
    padding-left: 0%;
    font-size: 40px;
    padding-bottom: 15px;
    color: rgb(7, 7, 7);
}

@media(max-width:600px){
    .twitter-box{
        margin-left: 0;
    }
    .sns-box{
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    .twitter-h{
        text-align: center;
        padding-left: 0%;
        font-size: 30px;
        padding-bottom: 15px;
        color: rgb(5, 5, 5);
    }

}


/*-------------------------------------------------サイドウィジットへのtwetter埋め込み修正*/

@media screen and (max-width: 768px) and (min-width: 480px) {
    iframe .twitter-timeline-rendered{
        width: 490px !important;
    }
}

@media screen and (max-width: 600px) {
    iframe.twitter-timeline-rendered {
        width: 450px !important;
        margin:0 auto;/*これを入れないとめっちゃ細く200pxくらいで表示される。*/
    }
}

.timeline-Widget {
    max-width: 300px!important;
    width:200px !important; }
/*サイドウィジットへのtwetter埋め込み修正終わり*/




.footer-back-prf{
    background-color: rgba(172, 178, 184, 0.521);
    height: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer-prf{
    color: rgb(0, 0, 0);
    margin: auto;           /* 中央揃え */
    text-align: center;
}