.profile{
    margin-top: 70px;
    margin-left: 30%;
    text-align: left;

}

.prf-h{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;

}

.under{
    border-bottom: solid 3px #446386;
}


.color{
    color: #446386;
    font-weight: 600;
    font-size: 35px;
}

.prf-icon{
    width: auto;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

.prf-name{
    font-size: 40px;
    margin-left: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.profile-h {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);

}

.profile-p{
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.profile-list{
    display: inline-block;
    vertical-align: top;
}



.footer-back-prf{
    background-color: rgba(172, 178, 184, 0.521);
    height: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer-prf{
    color: rgb(0, 0, 0);
    margin: auto;           /* 中央揃え */
    text-align: center;
}

