.profile{
    margin-top: 5%;
    text-align: center;

}

.prf-icon{
    width: auto;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}

.prf-name{
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.profile-h {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);

}



.footer-back-prf{
    background-color: rgba(172, 178, 184, 0.521);
    height: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer-prf{
    color: rgb(221, 221, 221);
    margin: auto;           /* 中央揃え */
    text-align: center;
}

