

.profile{
    margin-top: 100px;
    padding-left: 30%;
    text-align: left;
    background-color: rgba(217, 219, 221, 0.438);

}

.prf-h{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;

}

.under{
    border-bottom: solid 3px #446386;
}


.color{
    color: #446386;
    font-weight: 600;
    font-size: 35px;
}

.prf-icon{
    width: auto;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

.prf-name{
    font-size: 40px;
    margin-left: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.profile-h {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);

}

.profile-p{
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.profile-list{
    display: inline-block;
    vertical-align: top;
}

.profile-Details{
    width: 650px;
}


.sns-list{
    text-align: center;
    vertical-align: auto;
}

.sns-list ul{
    margin: 0%;
    padding-left: 0px;
}


.social-img{
    margin: 12.5px;
    width: 50px;
}
@media (max-width: 600px) {
    .social-img{
        padding: 10px;
        width: 40px;

    }
}

.sns-list ul li{
    display: inline-block;

}

.sns-list ul li:hover{
    opacity: 0.5;
}



.inline-block{
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

.content{
    padding-top: 30px;
    text-align: center;
}

.social-views{
    min-width: 100%;
}

/*3-1*/
.sns-box{
    font-size: 40px;
    margin-bottom: 30px;
    padding-bottom: 2l0px;
}

.twitter-h{
    text-align: center;
    padding-left: 0%;
    font-size: 40px;
    padding-bottom: 15px;
    color: rgb(5, 5, 5);
}

@media(max-width:600px){
    .twitter-box{
        margin-left: 0;
    }
    .sns-box{
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    .twitter-h{
        text-align: center;
        padding-left: 0%;
        font-size: 30px;
        padding-bottom: 15px;
        color: rgb(5, 5, 5);
    }

}


/*-------------------------------------------------サイドウィジットへのtwetter埋め込み修正*/

@media screen and (max-width: 768px) and (min-width: 480px) {
    iframe .twitter-timeline-rendered{
        width: 490px !important;
    }
}

@media screen and (max-width: 600px) {
    iframe.twitter-timeline-rendered {
        width: 450px !important;
        margin:0 auto;/*これを入れないとめっちゃ細く200pxくらいで表示されます。*/
    }
}

.timeline-Widget {
    max-width: 300px!important;
    width:200px !important; }
/*サイドウィジットへのtwetter埋め込み修正終わり*/




.footer-back-prf{
    background-color: rgba(172, 178, 184, 0.521);
    height: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer-prf{
    color: rgb(0, 0, 0);
    margin: auto;           /* 中央揃え */
    text-align: center;
}


