$baseColor: #e6e7ee;
$primary: #519cb9;
$fontBaseColor: #000;
$primary-font-family: "Inter";

$breakpoint-tablet: 955px;
$breakpoint-mobile: 665px;

$shadow-color: #e6e7ee;
$drop-shadow: 8px 8px 3px rgba(0, 0, 0, 0.25),
  -8px -8px 4px rgba(255, 255, 255, 0.5);
$inner-shadow: inset 4px 4px 3px rgba(0, 0, 0, 0.25),
  inset -4px -4px 4px rgba(255, 255, 255, 0.5);

@mixin tablet {
  @media only screen and (max-width: ($breakpoint-tablet)) {
    @content;
  }
}

a {
  text-decoration: none;
}

.drop-shadow {
  background: #e6e7ee;
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.25),
    -8px -8px 4px rgba(255, 255, 255, 0.5);
  border-radius: 35px;
}

.inner-shadow {
  background: #e6e7ee;
  box-shadow: inset 4px 4px 3px rgba(0, 0, 0, 0.25),
    inset -4px -4px 4px rgba(255, 255, 255, 0.5);
}

body {
  background-color: $baseColor;
  font-family: $primary-font-family;
}

.b-button {
  /* オートレイアウト */
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  font-family: "Inter";
  font-weight: 100;
  font-size: 20px;
  line-height: 29px;
  color: $fontBaseColor;
}
